[asterisk]
Driver = PostgreSQL
Description = PostgreSQL connection to ‘asterisk’ database
ServerName = {{ asterisk_db_host }}
Port = {{ asterisk_db_port }}
Database = {{ asterisk_db_name }}
UserName = {{ asterisk_db_user }}
Password = {{ asterisk_db_password }}
