HEPLIFYSERVER_HEPADDR=0.0.0.0:9060
HEPLIFYSERVER_HEPTCPADDR=
HEPLIFYSERVER_DBSHEMA=mock
HEPLIFYSERVER_DBDRIVER=mock
HEPLIFYSERVER_DBADDR=
HEPLIFYSERVER_LOGLVL=info
HEPLIFYSERVER_LOGSTD=true
HEPLIFYSERVER_PROMADDR=0.0.0.0:9096
HEPLIFYSERVER_DEDUP=false
